<h1 class='py-8'>
  Leads
</h1>

<div>
<%= link_to 'New', new_lead_path %>
</div>

<div>
  <% if @leads.present? %>
    <table>
      <thead>
        <tr>
          <th>
            Contact Name
          </th>
          <th>
            Location
          </th>
          <th>
            Phone
          </th>
          <th>
            Company
          </th>
          <th>
            Role
          </th>
          <th>
            User
          </th>
        </tr>
      </thead>
      <tbody>
        <% @leads.each do |lead| %>
          <tr>
            <td>
              Contact Name
            </td>
            <td>
              Location
            </td>
            <td>
              Phone
            </td>
            <td>
              Company
            </td>
            <td>
              Role
            </td>
            <td>
              User
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    Not leads present at this time.
  <% end %>
</div>
